:root {
  /*  Colors */

  /* Primary */

  --white-200: hsl(193, 38%, 86%);
  --Green-300: hsl(150, 100%, 66%);

  /*  Neutral */

  --Blue-600: hsl(217, 19%, 38%);
  --Blue-900: hsl(217, 19%, 24%);
  --Blue-950: hsl(218, 23%, 16%);

  /* font size */
  --Font-size-quote: 28px;

  /*  Font weight */
  --Weight: 800;

  /* font family */
  --font-family: "Manrope", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  background-color: var(--Blue-950);
  font-size: var(--Font-size-quote);
  font-weight: var(--Weight);
}

.container {
  background-color: var(--Blue-900);
  width: 523px;
  text-align: center;

  padding: 40px;
  border-radius: 10px;
}

#span {
  color: var(--Green-300);
}

.container p {
  color: var(--white-200);
  margin-block: 15px;
}

button {
  padding: 15px;
  border-radius: 100%;
  background-color: var(--Green-300);
  border: 1px solid var(--Green-300);
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 35px 7px var(--Green-300);
}
